<div class="row">
	<div class="col-sm-12">
	<div class="table-responsive">


		<h1>Compare properties</h1><br />

        <table class="table table-bordered table-striped product_comparison">
			<thead>
				<tr>
					<th style="width: 20%">&nbsp;</th>
					<th>
						<div class="center">
							<a href="property.html"> <h3>7 bedroom house for sale</h3><h6>The Vineyard, Richmond, TW10</h6></a><br />

							<a href="property.html" class=""><img class="compare-thumbnail" alt="" src="<?php echo URL;?>css/images/gallery/room_0.jpg" /></a><br /><br />

							<p><a href="#"> Price: &pound;3,350,000</a></p>
							<p><a class="btn btn-primary" href="property.html">Contact agent</a></p>
						</div>
					</th>
					<th>
						<div class="center">
							<a href="property.html"> <h3>1 bedroom flat for sale</h3><h6>The Vineyard, Richmond, TW10</h6></a><br />
							<a href="property.html" class=""><img class="compare-thumbnail" alt="" src="<?php echo URL;?>css/images/gallery/room_1.jpg" /></a><br /><br />

							<p><a href="#"> Price: &pound;300pm</a></p>
							<p><a class="btn btn-primary" href="property.html">Contact agent</a></p>
						</div>
					</th>
					<th>
						<div class="center">
							<a href="property.html"> <h3>3 bedroom cottage for sale</h3><h6>The Vineyard, Richmond, TW10</h6></a><br />
							<a href="property.html" class=""><img class="compare-thumbnail" alt="" src="<?php echo URL;?>css/images/gallery/room_2.jpg" /></a><br /><br />

							<p><a href="#"> Price: &pound;450,000</a></p>
							<p><a class="btn btn-primary" href="property.html">Contact agent</a></p>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="hidden-xs">
					<td>Description</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper, est et tincidunt hendrerit, purus felis ornare ante, et commodo sapien ipsum sit amet elit.</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper, est et tincidunt hendrerit, purus felis ornare ante, et commodo sapien ipsum sit amet elit.</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper, est et tincidunt hendrerit, purus felis ornare ante, et commodo sapien ipsum sit amet elit.</td>
				</tr>
				<tr>
					<td>Property Type</td>
					<td>House</td>
					<td>Flat</td>
					<td>Cottage</td>
				</tr>
				<tr>
					<td>Bedrooms</td>
					<td>7 (2 en suite)</td>
					<td>1</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Bathrooms</td>
					<td>3</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Rent or Buy</td>
					<td>Buy</td>
					<td>Rent</td>
					<td>Buy</td>
				</tr>
				<tr>
					<td>Floors</td>
					<td>3</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Size</td>
					<td>5000 sq ft.</td>
					<td>5000 sq ft.</td>
					<td>5000 sq ft.</td>
				</tr>
				<tr>
					<td>Date Available</td>
					<td>18/10/2012</td>
					<td>Immediately</td>
					<td>Immediately</td>
				</tr>
				<tr>
					<td>Total Rooms</td>
					<td>9</td>
					<td>2</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Basement</td>
					<td>Yes</td>
					<td>No</td>
					<td>No</td>
				</tr>
				<tr>
					<td>Year Built</td>
					<td>2001</td>
					<td>1907</td>
					<td>1999</td>
				</tr>
				<tr>
					<td>Agent</td>
					<td>RE/MAX</td>
					<td>Bootstrap Homes</td>
					<td>RE/MAX</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>
		<footer>
	<hr />
	<p class="pull-right"><a href="#">Back to top</a></p>
	<p>
		<a href="<?php echo URL;?>home/index">Home</a> |
		<a href="<?php echo URL;?>home/about">About</a> |
		<a href="<?php echo URL;?>home/typography">Typography</a> |
		<a href="<?php echo URL;?>home/terms">Terms and Conditions</a> |
		<a href="<?php echo URL;?>home/contact">Contact Us</a><br />
		All content &copy; 2014 | <a href="<?php echo URL;?>home/about">Built with Twitter Bootstrap</a> | <a href="https://wrapbootstrap.com/">WrapBootstrap</a>.
	</p>
</footer>

</div> <!-- /container -->


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

</body>
</html>
