<div class="row">

	<div class="col-sm-3 col-xs-12">
		<h3>Address:</h3>
		<p>Estate agent name<br />Street address<br />City<br />ZIP</p>
		<div style="width:200px;height:200px"><iframe width="200" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=London@51.508129,-0.128005&amp;ie=UTF8&amp;z=12&amp;t=m&amp;iwloc=near&amp;output=embed"></iframe><br><table width="200" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=London@51.508129,-0.128005&amp;ie=UTF8&amp;z=12&amp;t=m&amp;iwloc=near">View Larger Map</a></small></td><td align="right"><small></small></td></tr></table></div><br /><br />
		<h3>Telephone:</h3>
		<p>1234-123-1234</p>
	</div>
	<div class="col-sm-9 col-xs-12">
		<div class="page-header">
			<h1>Contact us</h1>
		</div>

		<!-- Headings &amp; Paragraph Copy -->
		<div class="row">


			<div class="col-sm-12">
				<form class="form-vertical contact-form">
					<fieldset>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non egestas massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus auctor, urna a pretium aliquam, enim tellus convallis dolor, eget semper sem risus placerat tortor.</p><br />

						<div class="form-group">
							<label class="col-sm-3 control-label">First Name:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="your first name">
							</div>
						</div><br />

						<div class="form-group">
							<label class="col-sm-3 control-label">E-Mail Address:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" placeholder="your email">
							</div>
						</div><br />

						<div class="form-group">
							<label class="col-sm-3 control-label">Enquiry:</label>
							<div class="col-sm-9">
								<textarea rows="3" id="textarea"  placeholder="What would you like to contact us about?" class="form-control"></textarea>
							</div>
						</div><br />

						<div class="col-sm-8">
							<button class="btn btn-primary pull-right" style="margin-right: 20px;" type="submit">Continue</button>
						</div>
					</fieldset>
				</form>

			</div>



			<!-- Misc Elements -->

		</div><!-- /row -->

	</div>

</div><footer>
	<hr />
	<p class="pull-right"><a href="#">Back to top</a></p>
	<p>
		<a href="<?php echo URL;?>home/index">Home</a> |
		<a href="<?php echo URL;?>home/about">About</a> |
		<a href="<?php echo URL;?>home/typography">Typography</a> |
		<a href="<?php echo URL;?>home/terms">Terms and Conditions</a> |
		<a href="<?php echo URL;?>home/contact">Contact Us</a><br />
		All content &copy; 2014 | <a href="<?php echo URL;?>home/about">Built with Twitter Bootstrap</a> | <a href="https://wrapbootstrap.com/">WrapBootstrap</a>.
	</p>
</footer>

</div> <!-- /container -->


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

</body>
</html>
