<div class="row">


	<div class="col-sm-12">
		<div class="page-header">
			<h1>Terms and conditions</h1>
		</div>

		<!-- Headings & Paragraph Copy -->
		<div class="row">

			<div class="col-sm-12">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non nibh sit amet tortor varius ornare ornare varius metus. Nunc mollis elit quis ante ornare at viverra elit porttitor. Cras libero neque, tincidunt molestie malesuada a, iaculis nec dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio erat, hendrerit nec imperdiet vitae, posuere a nulla. Etiam elementum nulla in quam posuere porttitor. Curabitur eget enim libero, a laoreet metus. Suspendisse vitae augue leo, quis porttitor eros. Ut ullamcorper lectus non ipsum dignissim interdum id a magna. Vivamus et augue non ligula sagittis dictum. In sit amet lacus neque. Pellentesque risus ipsum, rhoncus vel viverra sit amet, aliquet ac leo. Phasellus pharetra orci in justo scelerisque et tincidunt lectus rutrum. Aenean enim magna, pellentesque sit amet condimentum eget, euismod ut orci. Duis accumsan iaculis libero, nec elementum turpis viverra pulvinar.
				</p>
				<p>
					Vivamus porta auctor metus eget viverra. Vivamus eu diam metus. Sed vitae sem et justo congue luctus et vitae diam. Nunc at nibh nulla, nec pretium est. Donec eleifend convallis dui vitae rutrum. Fusce eget diam tellus. Suspendisse sagittis sollicitudin erat ac faucibus. Phasellus ut turpis turpis, vel pellentesque enim. Vivamus vitae nibh et justo porttitor dictum porta a orci.
				</p>
				<p>
					Nulla mauris tellus, laoreet id interdum eu, ornare quis lacus. Donec pretium condimentum turpis, sit amet elementum ligula mollis sit amet. Morbi porta sodales velit sed volutpat. Fusce at erat sed sem lobortis mollis quis sed ipsum. Donec facilisis justo at ipsum euismod eu vulputate ligula tempus. Nulla facilisi. Curabitur vitae enim sit amet augue tristique sollicitudin. Nulla dui augue, viverra non bibendum ultrices, luctus eget magna.
				</p>
				<p>
					Donec odio odio, ultrices ac volutpat vel, vestibulum et ante. Donec porttitor commodo facilisis. Nullam feugiat adipiscing nulla, sit amet porttitor nulla consequat non. Duis vitae purus leo, sit amet elementum tortor. Sed blandit iaculis elit id vestibulum. Maecenas quam diam, bibendum ac pharetra vulputate, porta non lectus. Nullam purus augue, tristique ac imperdiet sed, scelerisque eget velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas molestie dignissim. Vestibulum cursus, leo interdum semper gravida, eros enim mollis dolor, vitae aliquam purus risus at justo. Cras quis lacus non lectus rutrum pretium vitae quis nisi. Donec urna nisl, volutpat nec hendrerit vel, auctor a libero. Aenean erat dui, hendrerit eget rhoncus eget, bibendum ut metus.
				</p>
				<p>
					Donec sodales faucibus convallis. Nam vel interdum dolor. Nulla facilisi. Proin varius, mauris vel posuere condimentum, ante orci dictum neque, congue suscipit turpis est sit amet arcu. Mauris et pulvinar orci. Curabitur imperdiet, arcu a tempor accumsan, tortor eros tincidunt elit, sit amet fermentum justo ligula in leo. Nunc felis ligula, placerat sit amet tincidunt et, tincidunt eu urna. Sed at enim neque, ut feugiat sapien. Nulla rhoncus semper rhoncus. Suspendisse vulputate justo nec dui iaculis ut varius arcu scelerisque. Duis fermentum fermentum massa, eget fringilla est condimentum tincidunt.
				</p>
			</div>


			<!-- Misc Elements -->

		</div><!-- /row -->

	</div>

</div><footer>
	<hr />
	<p class="pull-right"><a href="#">Back to top</a></p>
	<p>
		<a href="<?php echo URL;?>home/index">Home</a> |
		<a href="<?php echo URL;?>home/about">About</a> |
		<a href="<?php echo URL;?>home/typography">Typography</a> |
		<a href="<?php echo URL;?>home/terms">Terms and Conditions</a> |
		<a href="<?php echo URL;?>home/contact">Contact Us</a><br />
		All content &copy; 2014 | <a href="<?php echo URL;?>home/about">Built with Twitter Bootstrap</a> | <a href="https://wrapbootstrap.com/">WrapBootstrap</a>.
	</p>
</footer>

</div> <!-- /container -->


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

</body>
</html>
